<!DOCTYPE html>
<html>
<head>
    <title>Image Server Admin </title>
		<meta charset="utf-8">
        <link href="{{ url_for('static',filename='css/index.css') }}" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
		<!--//webfonts-->
</head>
<body>
	 <!-----start-main---->
	 <div class="main">
		<div class="login-form">
         <h1>Admin Login</h1>
					<div class="head">
                        <img src="{{ url_for('static',filename='images/user.png') }}" alt=""/>
					</div>
                     <form action="{{ url_for('login') }}" method='post'>
                        <p>{{ form.username(placeholder='UserName') }}</p>
                        <p>{{ form.password(placeholder='PassWord') }}</p>
                        <p>{{ form.submit() }}</p>
					</div>	
				</form>
			</div>
			<!--//End-login-form-->
		</div>
			 <!-----//end-main---->
		 		
</body>
</html>
